
    @keyframes rotate-animation {
        from { transform: rotateY(0deg); }
        to { transform: rotateY(360deg); }
    }

    @keyframes animate-arrow-down {
        from { margin-top: 0rem; }
        to { margin-top: 1rem; }
    }