
    /*---------------------------------
    |   Fonts                         |
    ---------------------------------*/

    @font-face {
        font-family: 'baloo';
        src: url('../fonts/Baloo/Baloo-Regular.ttf');
    }

    @font-face {
        font-family: 'bungee';
        src: url('../fonts/Bungee/Bungee-Regular.ttf');
    }

    @font-face {
        font-family: 'bungee-shade';
        src: url('../fonts/Bungee_Shade/BungeeShade-Regular.ttf');
    }

    @font-face {
        font-family: 'coda-caption';
        src: url('../fonts/Coda_Caption/CodaCaption-ExtraBold.ttf');
    }

    @font-face {
        font-family: 'kaushan-script';
        src: url('../fonts/Kaushan_Script/KaushanScript-Regular.ttf');
    }

    @font-face {
        font-family: 'lobster';
        src: url('../fonts/Lobster/Lobster-Regular.ttf');
    }

    @font-face {
        font-family: 'monoton';
        src: url('../fonts/Monoton/Monoton-Regular.ttf');
    }

    @font-face {
        font-family: 'montserrat';
        src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
    }

    @font-face {
        font-family: 'rock-salt';
        src: url('../fonts/Rock_Salt/RockSalt-Regular.ttf');
    }

    @font-face {
        font-family: 'russo-one';
        src: url('../fonts/Russo_One/RussoOne-Regular.ttf');
    }