
    @import "debugging.css";
    @import "variables.css";
    @import "fonts.css";
    @import "animations.css";

    /* menyembunyikan scrollbar */
    body::-webkit-scrollbar { width: 0 !important; }
    body { overflow: -moz-scrollbars-none; }

    body {
        margin: 0;
        width: 100%;
        height: auto;
    }

    menu {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        width: 100px; height: 100px;
        background-color: #000000;
        z-index: 99999;
    }

    header {
        width: 100%;
        position: absolute;
        margin-top: 13rem;
        background-color: transparent;
        text-align: center;
    }
    
    #header__img-container {
        background-color: #2a2e34;
        margin: 0 auto;
        position: static;  
        width: 10rem;
        height: 9rem;
        border-radius: 1rem;
    }

    #header__img-container img {
        width: 8rem;
        border-radius: 1rem 1rem 1rem 1rem;
        padding-top: 0.6rem;
        animation-name: rotate-animation;
        animation-duration: 5s;
        animation-delay: 5s;
        animation-iteration-count: infinite;
    }

    #nav__workshop {
        width: 2rem;
        height: 3rem;
        background-color: transparent;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    #nav__workshop i {
        color: var(--color-arrow-down);
        animation-name: animate-arrow-down;
        animation-duration: 1s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
    }

    #nav__register {
        width: 10rem;
        height: 2rem;
        color: var(--color-thick-line);
        background-color: rgba(250, 238, 156, 0.7);
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: 30rem;
        box-sizing: border-box;
        font-size: 1rem;
        font-family: 'bungee';
        padding-top: 0.4rem;
    }

    /* Flexbox */
    #section-1 {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    #section1__thick-line {
        width: 100%;
        height: 18rem;
        background-color: var(--color-thick-line);
        font-family: 'baloo';
        text-align: center;
    }

    #section1__thick-line h1 {
        margin-top: 2.5rem;
        font-size: 5rem;
        color: var(--color-thin-line);
    }

    #section1__thin-line {
        width: 100%;
        height: 0.45rem;
        background-color: var(--color-thin-line);
    }

    #section1__main {
        width:100%;
        background-color: var(--color-section1-main);
        flex-grow: 1;
        box-sizing: border-box;
        text-align: center;
        padding-top: 7rem;
        font-family: 'monoton';
        font-size: 3.2rem;
    }
    /* // Flexbox */

    /* Grid */
    #section-2 {
        display: grid; 
        padding: 2rem 4rem 5rem 4rem;
        grid-template-columns: auto;
        grid-template-rows: 12rem 12rem 12rem 12rem 12rem 12rem;
        grid-gap: 3rem;
        background-color: var(--color-section2);
    }

    .section2__title {
        text-align: center;
    }

    .section2__title img {
        width: 20rem;
        margin-top: -12rem;
    }
    
    .section-2__grid {
        border-radius: 0.3rem;
        background-repeat: no-repeat;
        background-position: center;
    }

    .section-2__grid h1 {
        font-size: 1.8rem;
        font-family: 'bungee-shade';
        color: black;
    }

    .section-2__grid img {
        width: 20rem;
        margin-top: -7rem;
    }

    .section-2__grid img:nth-of-type(2) {
        width: 10rem;
    }

    .section-2__grid:nth-child(2) {
        background-color: #ffcdd2;
        background-image: url('../images/multimedia-30.png');
        background-size: 20rem;
    }

    .section-2__grid:nth-child(3) {
        background-color: #f8bbd0;
        background-image: url('../images/mobile_apps-30.png');
    }

    .section-2__grid:nth-child(4) {
        background-color: #e1bee7;
        background-image: url('../images/networking-30.png');
    }

    .section-2__grid:nth-child(5) {
        background-color: #ffccbc;
        background-image: url('../images/webdev-30.png');
        background-position-y: -12rem;
    }

    .section-2__grid:nth-child(6) {
        background-color: #d7ccc8;
        background-image: url('../images/webdev-30.png');
        background-position-y: -12rem;
    }
    /* // Grid */

    /* Grid */
    #section-3 {
        box-sizing: border-box;
        height: 95vh;
        padding: 2rem 22rem 1rem 22rem;
        background-color: var(--color-section3);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4rem auto auto auto auto auto;
        grid-gap: 2rem;
    }

    .section-3__grid {
        padding: 0rem 1rem 0rem 1rem;
        box-sizing: border-box;
    }

    .section-3__grid:nth-child(1) {
        grid-column: 1 / 3;
        font-size: 3rem;
        font-family: 'bungee';
        text-align: center;
        box-sizing: border-box;
        text-align: center;
    }

    .section-3__grid:nth-child(4) {
        grid-column: 1 / 3;
    }

    .section-3__grid:nth-last-child(1) {
        grid-column: 1 / 3;
    }

    .section-3__grid:nth-last-child(2) {
        grid-column: 1 / 3;
    }

    #section-3 label {
        font-family: 'baloo';
        font-size: 1.3rem;
    }

    #section-3 input[type="text"], #section-3 input[type="email"] {
        width: 100%;
        height: 2rem;
        margin-top: 0.5rem;
        font-size: 1.1rem;
        padding-left: 0.5rem;
    }

    #section-3 input[type="radio"] {
        display: inline-block;
        margin-left: 2rem;
    }

    #section-3 textarea {
        width: 100%;
        height: 3rem;
        border-radius: 0.3rem;
        padding-left: 0.5rem;
        padding-top: 0.5rem;
    }

    #section-3 button {
        font-family: 'baloo';
        width: 100%;
        font-size: 1.7rem;
        height: 3rem;
        background-color: var(--color-regis-btn);
        border-radius: 0.4rem;
    }
    /* // Grid */

    .footer__thin-line{
        height: 1vh;
        background-color: var(--color-section1-main);
    }

    .footer__thick-line {
        box-sizing: border-box;
        height: 4vh;
        background-color: var(--color-thick-line);
        text-align: center;
        color: var(--color-thin-line);
        font-family: 'baloo';
        font-size: 0.8rem;
        padding-top: 0.3rem;
    }



    