    
    /*--------------------------------
    |   Variables                    |
    --------------------------------*/
    :root {
        font-size: 15px;

        --color-black: #000000;
        --color-yellow: #ffff00;

        --color-thick-line: #263238;
        --color-thin-line: #eceff1;
        --color-section1-main: #ff8a65;
        --color-section2: #dde2ea;
        --color-section3: #e6ee9c;

        --color-arrow-down: #507fbf;
        --color-regis-btn: #d4e157;
    }

    /*--------------------------------
    |   Colors                       |
    --------------------------------*/
    .text-white {
        color: #ffffff;
    }